
a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFAD4D; }

b{ font-weight: 500; }

img{ width: 100%; }



span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */


.btn:hover{ color: #FFAD4D; background: none; }

.btn-2{ background: none; color: #FFAD4D; }

.btn-2:hover{ background: #FFAD4D; color: #fff; }


.section{ padding: 70px 0 40px; }

.section .heading{ padding-bottom: 70px; }

.center-text{ text-align: center; } 

.color-white{ color: #fff; }

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }

.card{ background: transparent; border: 0; }

.no-side-padding{ padding-right: 0px; padding-left: 0px; }

.no-left-padding{ padding-left: 0px; }

.no-right-padding{ padding-right: 0px; }

.icon{ font-size: 2em; }


.left-area{ float: left;  }

.right-area{ float: right;  }

.width-60{ width:60%; }

.width-50{ width: 50%; }


::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px;  }

:-moz-placeholder { font-size: .9em; letter-spacing: 1px;  }



/* ---------------------------------
3. MENU
--------------------------------- */

header{  left: 0; right: 0; top: 0; z-index: 1000; font-size: .95em; 
	box-shadow: 0px 2px 10px rgba(0,0,0, .3); background: #fff; }


/* TOP MENU */

header .top-menu{ width: 100%; height: 45px; line-height: 45px; overflow: hidden; font-size: .95em; font-style: italic; }


header .top-menu ul.welcome-area{ padding-left: 20px; }

header .top-menu ul.welcome-area > li{ margin: 0 15px; padding: 0 15px; border-left: 1px solid #ddd; }


header .top-menu ul > li:first-child{ border-left: 0; }

header .top-menu ul.social-icons{ display: inline-block; padding: 0 35px; color: #aaa; }

header .top-menu ul.social-icons > li > a{ padding: 0 15px; }



/* SEARCH AREA */

header .src-area{ position: relative; float: left; height: 45px; width: 250px; display: inline-block; 
	border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff; }

header .src-area .src-input{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%;
	padding: 0 40px 0 20px; background: transparent; border: 0; outline: 0; }

header .src-area .src-input:focus{ box-shadow: 0px 0px 1px #aaa; }

header .src-area .src-btn{ position: absolute; top: 0; bottom: 0; right: 0; width: 40px; font-size: 1.2em; 
	opacity: .6; z-index: 10; }

	
	
/* MIDDLE AREA */

header .middle-menu{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  }

header .logo{ padding: 30px 0; height: 160px; }

header .logo img{ height: 100%; width: auto; }


/* BOTTOM AREA */

header .bottom-area{ text-align: center; }

header .main-menu{ font-weight: 500; }

header .main-menu > li > a{ height: 60px; line-height: 60px; padding: 0 25px; }

header .main-menu > li > a:hover{ background: #eee; }


header .visible.main-menu{ display: block; }



/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down{ position: relative; text-align: left; }

header .main-menu li.drop-down > ul.drop-down-menu{ display: none; position: absolute; top: 60px; left: 0; 
	min-width: 200px; box-shadow: 0px 3px 10px rgba(0,0,0,.3); background: #fff; }

header .main-menu li.drop-down > ul.drop-down-menu li{ display: block; border-top: 1px solid #ddd; }

header .main-menu li.drop-down > ul.drop-down-menu li > a{ display: block; padding: 12.5px 20px; }

header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 0; }

header .main-menu li i{margin-left: 10px; }



/* DROPDOWN SUBMENU */

header .main-menu li.drop-down > ul.drop-down-inner{ top: 0; left: auto; left: 100%; }



/* DROPDOWN HOVER */

header .main-menu li a.mouseover{ background: #F2F3F4; }

header .main-menu li.drop-down a.mouseover + ul.drop-down-inner{ display: block; 
	animation: full-opacity-anim .2s forwards; }


@keyframes full-opacity-anim{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

/* NAV ICON */

.menu-nav-icon{ display: none; height: 60px; width: 50px; text-align: center; line-height: 60px; cursor: pointer; 
	font-size: 1.8em; }






/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	

	
	/* ---------------------------------
	3. MENU
	--------------------------------- */
	
	header .top-menu ul.welcome-area{ padding: 0; }
	
	header .top-menu ul.welcome-area > li{ border: 0; }
	
	header .top-menu .hello-blog{ display: none; }
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	


	/* ---------------------------------
	3. MENU
	--------------------------------- */
	
	header .top-menu ul.welcome-area{ display: none; }
	
	
	/* SEARCH AREA */
	
	header .right-area{ float: none; }
	
	header .src-area{ float: none; border: 0; }
	
	
	/* TOP MENU */
	
	header .top-menu ul.social-icons{ display: none; }
	
	/* MIDDLE AREA */

	header .logo{ padding: 10px 0; height: 100px; }


	/* BOTTOM AREA */
	
	header .main-menu{ text-align: left; display: none; float: none; clear: both; max-height: 400px;
		overflow: auto; border-top: 1px solid #ccc; }
	
	header .main-menu > li{ display: block; float: none; border-bottom: 1px solid #ddd; }
	
	header .main-menu > li:last-child{ border-bottom: 0; }
	
	header .main-menu li > a{ display: block; line-height: 1; height: auto; padding: 15px; background: none; }
	
	
	/* DROPDOWN  */
	
	header .main-menu li.drop-down > ul.drop-down-menu{ position: static; box-shadow: none; }
	
	
	/* DROPDOWN HOVER */
	
	header .main-menu li.drop-down > ul.drop-down-menu li a{ padding-left: 25px; }
	
	header .main-menu li.drop-down > ul.drop-down-inner li a{ padding-left: 35px; }
	
	
	/* SEARCH AREA */

	header .src-area{ width: 100%; }
	
	
	/* NAV ICON */
	
	.menu-nav-icon{ display: inline-block; }

	
	
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	
	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.left-area,
	.right-area{ float: none;  }

	.width-60,
	.width-50{ width: 100%; }

	.left-area li a,
	.right-area li a{ padding: 0 10px 0 0!important; }

	
}
#navbarNav li.drop-down:hover > ul{
	display: block;
	z-index: 9999;
}















.portfolio-header {
    position: relative;
    background-image: url(../images/header-bg.jpg);
  }
  
  .portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
  }
  
  .is-compact .mdl-layout__title span {
    display: none;
  }
  
  .portfolio-logo-row {
    min-height: 200px;
  }
  
  .is-compact .portfolio-logo-row {
    min-height: auto;
  }
  
  .portfolio-logo {
    background: url(../images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
  }
  
  .is-compact .portfolio-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
  }
  
  .portfolio-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
  }
  
  .portfolio-navigation-row  .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
  }
  
  .portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 42px;
  }
  
  .portfolio-header .mdl-layout__drawer-button {
      background-color: rgba(197, 197, 197, 0.44);
  }
  
  .portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
  }
  
  .portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255,64,129);
    left: 15%;
  }
  
  .portfolio-card .mdl-card__title {
    padding-bottom: 0;
  }
  
  .portfolio-blog-card-full-bg {
    background: url(../images/example-blog03.jpg) center / cover;
  }
  
  .portfolio-blog-card-event-bg {
    background: url(../images/example-blog05.jpg) center / cover;
  }
  
  .portfolio-blog-card-strip-bg {
    background: url(../images/example-blog06.jpg) center / cover;
  }
  
  .portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
  }
  
  .portfolio-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  img.article-image {
    width: 100%;
    height: auto;
  }
  
  .portfolio-max-width {
    max-width: 900px;
    margin: auto;
  }
  
  .portfolio-copy {
    max-width: 700px;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .no-left-padding{
    padding-left: 0;
  }
  
  .no-bottom-padding {
    padding-bottom: 0;
  }
  
  .padding-top {
    padding: 10px 0 0;
  }
  
  .portfolio-share-btn {
    position: relative;
    float: right;
    top: -4px;
  }
  
  .demo-card-event > .mdl-card__actions {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  
  .portfolio-contact .mdl-textfield {
    width: 100%;
  }
  
  .portfolio-contact form {
    max-width: 550px;
    margin: auto;
  }
  
  footer {
    background-image: url(../images/footer-background.png);
    background-size: cover;
  }
  
  